<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- ASP.NET timeout for long-running requests -->
    <system.web>
        <httpRuntime executionTimeout="600" maxRequestLength="4194304" />
    </system.web>
    <system.webServer>
        <!-- Increase timeouts for bulk download operations (10 minutes) -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <!-- Proxy static files to Flask too since IIS isn't configured properly -->
                <rule name="StaticFiles" stopProcessing="true">
                    <match url="^scraper/static/(.*)" />
                    <action type="Rewrite" url="http://localhost:5050/static/{R:1}" />
                </rule>
                <!-- Proxy everything else to Flask (Port 5050 - Flask dedicated port) -->
                <rule name="ProxyToFlask" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5050/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <!-- Remove existing MIME types before adding custom ones to avoid duplicates -->
            <remove fileExtension=".css" />
            <remove fileExtension=".js" />
            <remove fileExtension=".json" />
            <remove fileExtension=".png" />
            <remove fileExtension=".jpg" />
            <remove fileExtension=".svg" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />

            <!-- Add custom MIME types -->
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".js" mimeType="application/javascript" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>